[submodule "implementations/c/flux.c"]
	path = implementations/c/flux.c
	url = git@github.com:x96-sys/flux.c.git
[submodule "implementations/java/flux.java"]
	path = implementations/java/flux.java
	url = https://github.com/x96-sys/flux.java
